default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\BaseContext
                - App\Tests\Behat\ProjectContext
                - App\Tests\Behat\DatabaseContext

    extensions:
        Robertfausk\Behat\PantherExtension: ~

        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
            kernel:
                class: App\Kernel
                environment: test
                debug: false

        Behat\MinkExtension:
            base_url: 'http://php'
            default_session: symfony
            javascript_session: panther
            sessions:
                symfony:
                    symfony: ~
                panther:
                    panther:
                        options:
                            browser: chrome
                            webServerDir: '%paths.base%/public'
                            browser_arguments:
                                - '--headless'
                                - '--no-sandbox'
                                - '--disable-gpu'
                                - '--disable-dev-shm-usage'
                                - '--window-size=1920,1080'
                                - '--force-prefers-reduced-motion'

