services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\Tests\Behat\:
        resource: '../tests/Behat/*'

    Symfony\Component\HttpFoundation\Session\SessionFactoryInterface: '@session.factory'
